{%extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} iletisim {% endblock %}

{% block content %}


{{key | truncatechars:5}}
<form method="POST">{% csrf_token %}


    {{form | crispy }}

    <!-- {{form.isim_soyisim}} - {{form.isim_soyisim.errors}} - {{form.isim_soyisim.label}}
    {{form.email}} - {{form.email.errors}}- {{form.email.label}}
    {{form.mesaj}}- {{form.mesaj.errors}}- {{form.mesaj.label}} -->

    <input type="submit" value="Gönder" />
</form>


{% endblock %}